.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* start navbar */
nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 70px;
  background-color: black;
  border-bottom: 2px solid green;
  margin-bottom: 40px;
}

.logo {
  height: 60px;
  width: 60px;
  border-radius: 50%
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-links li {
  margin-right: 20px;
  margin-left: 40px;

}

.nav-links li a {
  font-size: x-large;
  text-decoration: none;
  color: white
}

/* end navbar */
/* start form component */
form {
  width: 60%;
  margin: 0 auto;
  background-color: black;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 10px;

}

form label {
  width: 70%;
  text-align: center;
  color: rgb(0, 128, 53);
  margin-bottom: 10px;
  font-size: xx-large;
}

form input {
  height: 40px;
  width: 80%;
  padding-left: 20px;
  font-size: xx-large;
  color: white;
}

/* end form */

/* start cocktailcomponent */
.title {
  text-align: center !important;
}

.cocktails {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 30px;
}

.details {
  height: 30px;
  width: 80px;
  background-color: green;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
  letter-spacing: 5px;
}

.details:hover {
  background-color: rgba(0, 128, 0, 0.676)
}

.cocktails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cocktail {
  width: 30%;
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  height: fit-content;
}

.cocktail_title,
.cocktail_name,
.cocktail_type {
  padding-left: 20px;
  letter-spacing: 5px;
  color: black;
}

.cocktail_img {
  width: 100%;
  height: 50%;
  object-fit: fill;
}

/* end cocktail_component */

/* start about section  */
.section_title {
  text-align: center;
  font-size: xx-large;
  letter-spacing: 10px;
  color: white;
  ;
  font-weight: bolder;
  margin-top: 170px
}

.section_text {
  width: 75%;
  margin: 0 auto;
  font-size: large;
  letter-spacing: 3px;
}

.link {
  width: 80px;
  height: 30px;
  padding-left: 30px;
  cursor: pointer;
  text-decoration: none;
}

/* start singlecocktail */
.section_product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.section_product img {
  margin-right: 20px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: contain;
}
